# PostgreSQL Database configuration
DATABASE_URL=postgresql://postgres:password123@localhost:5432/closira_db

# Redis Configuration
REDIS_URL=redis://localhost:6379/0

# Celery Configuration
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Security (JWT)
JWT_SECRET=supersecretjwtkey987654321
ACCESS_TOKEN_EXPIRE_MINUTES=30
